<div style="margin-left: 250px;margin-right: 250px;height: 100%;" #standardContent>

  <mdc-card class="inputCard">

    <input class="inputTitle" [(ngModel)]="title" placeholder="Title" />

    <div style="background-color: #eeeeee;height: 100%;border-radius: 4px;margin-top: 8px">
      <textarea class="inputNote" [(ngModel)]="note" placeholder="Take a note..."></textarea>
      <button mdc-button (click)="createNote()" class=saveButton>
        <mdc-icon>add</mdc-icon>Save
      </button>
    </div>
  </mdc-card>

  <mdc-card outlined *ngFor="let note of notes" class="noteCard">
    <mdc-icon style="position:absolute;right:0;top: 0;margin: 8px;color: #8a8a8a" (click)="deleteNote(note._id)">
      remove_circle_outline
    </mdc-icon>
    <div (click)="openUpdateDialog(note._id,note.title,note.note)" class=inputTitle>{{note.title}}</div>
    <div (click)="openUpdateDialog(note._id,note.title,note.note)" class=inputViewNote>{{note.note}}</div>
  </mdc-card>

</div>