@import "~@angular-mdc/theme/material";

.noteCard {
    @include mdc-card-shape-radius(8px);
    padding: 8px;
    width: 22%;
    margin: 8px;
    display: inline-block;
    position: relative;
    @include mdc-elevation(0);
    animation-name: zoom-out;
    animation-duration: 300ms;
}

.inputCard {
    @include mdc-card-shape-radius(8px);
    padding: 8px;
    position: relative;
    margin: 8px 200px 8px 200px;
}

.saveButton {
    @include mdc-button-icon-color(#212121);
    @include mdc-button-ink-color(#212121);
    @include mdc-states(#212121);
    width: 100px;
    right: 0;
    color: #212121;
    margin: 8px;
    top: 0;
    position: absolute;
}

@font-face {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans"), local("OpenSans"),
        url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
            format("woff2");
}

@font-face {
    font-family: "Product Sans Bold";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans"), local("OpenSans"),
        url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
            format("woff2");
}

.inputTitle {
    border: none;
    margin: 4px;
    font-family: Product Sans Bold;
    outline: none;
    font-size: 20px;
}

.inputNote {
    border: none;
    margin: 4px;
    resize: none;
    height: 100px;
    width: 95%;
    font-family: Product Sans;
    background-color: #eeeeee;
    font-size: 16px;
    outline: none;
}

.inputViewNote {
    border: none;
    margin: 4px;
    font-family: Product Sans;
    padding-bottom: 64px;
    font-size: 16px;
    outline: none;
}

.noteCard:hover {
    cursor: pointer;
    @include mdc-elevation(2);
    animation-name: zoom-in;
    animation-duration: 300ms;
}

@keyframes zoom-in {
    0% {
        @include mdc-elevation(0);
    }
    100% {
        @include mdc-elevation(2);
    }
}

@keyframes zoom-out {
    0% {
        @include mdc-elevation(2);
    }
    100% {
        @include mdc-elevation(0);
    }
}
